{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}
    <h1>Liste des entreprises</h1>

    {# {{ dump(entreprises) }} #}

    {% for entreprise in entreprises %}
        {# {{ entreprise.raisonSociale ~ '('~ entreprise.cp ~' '~ entreprise.ville ~')' }} 
        <br> #}

        {# {{ entreprise.raisonSociale}} {{entreprise.cp}} {{ entreprise.ville}} <br> #}

        <a href="{{ path('show_entreprise', {'id':entreprise.id}) }}">{{ entreprise }}</a> <br>
    {% endfor %}

{% endblock %}
